@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --leftrightpadding: 3.5rem;
    --leftrightmargin: 3.5rem;
    --headingsfontsize: 3rem;
    --headingsizesmalldisplays: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", system-ui;
    font-optical-sizing: auto;
    font-style: italic;
}

/* Nav Bar */
.navbar{
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 0;
}
.navbar .container-fluid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.container-fluid{
    background-color: #0B192C;
    padding:1rem 3.5rem;
    display: flex;
    flex-direction: row; 
     flex-wrap: nowrap;
    justify-content: space-between;
}

.container-fluid .navbar-brand{
    color: white;
    font-size: 1.5rem;
    font-weight: 1000;
}

.collapse {
    width: 100%;
display: flex;
justify-content: flex-end;
}

.navbar-nav,#navbar-nav{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

.nav-item a{
    color: white;
    font-weight: 500;
    text-underline-offset: 3px;
    transition: 0.1s;

}

.nav-item a:hover{
    text-decoration-line: underline;
    color: #16f2b3;
}

.container-fluid  span i{
    color: white;
    font-size: 1.5rem;
}
@media only screen and (min-width:769px){
    .container-fluid  span{
        display: none;
    }

    .collapse,.navbar-nav,#navbarNav{
        display: flex;
        flex-direction: row;
    }

    .container-fluid{
        display: flex;
        flex-wrap: nowrap;
    }
    .navbar .container-fluid {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
}



@media only screen and (max-width:768px){
    :root {
        --leftrightpadding: 1rem;
        --leftrightmargin: 1rem;
    }
    .container-fluid{
        padding:0.5rem 1rem 0.5rem;

    }

    .collapse{
        justify-content: flex-start;
    }
}

@media only screen and (max-width:1080px){
    .collapse{
        justify-content: flex-start;
    }
}

/* Hero Section */
.herosection {
    width: 100%;
    display: flex;
    background-color: #0B192C;
    flex-wrap: wrap-reverse;
}

.herosection .box1 {
    width: 60%;
    height: 100%;
    padding: var(--leftrightpadding);
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    line-height: 2.5rem;

}

@keyframes scale-in-bl {
    0% {
        transform: scale(0);
        transform-origin: 0 100%;
        opacity: 1
    }

    100% {
        transform: scale(1);
        transform-origin: 0 100%;
        opacity: 1
    }
}

.herosection .box1 .hello {
    font-size: 2rem;
    font-weight: 500;
    color: #F5f5f5;
}

.herosection .box1 .name {
    font-size: 2.5rem;
    font-weight: 800;
    color: #16f2b3;
}

.herosection .box1 .profession {
    font-size: 2rem;
    font-weight: 500;
    color: #F5f5f5;
}

.herosection .box1 .profession span {
    color: aqua;
    font-size: 2.5rem;
    font-weight: 800;

}

.herosection .imagebox {
    width: 40%;
    height: 100%;
    padding-top: 4rem;
    padding: var(--leftrightpadding);
    /* padding: 4rem 3rem 0 0; */
}

.herosection .imagebox img {
    border-radius: 12px;
    height: 80%;
    animation: scale-in-center .5s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@media only screen and (min-width:426px)and (max-width:768px) {
    .herosection .imagebox {
        padding: 1.5rem 1rem 1rem 1rem;
        width: 100%;
        height: 60%;
    }
}

@media only screen and (max-width:768px) {
    .herosection .box1 {
        width: 100%;
        height: 40%;
        padding-top: 2rem;
        line-height: 2.5rem;
    }

    .herosection .imagebox {
        padding: 3rem 1rem 1rem 1rem;
        width: 100%;
        height: 60%;
    }

    .herosection .box1 .hello {
        font-size: 1.5rem;
        font-weight: 400;

    }

    .herosection .box1 .name {
        font-size: 2rem;
        font-weight: 800;
    }

    .herosection .box1 .profession {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .herosection .box1 .profession span {
        color: aqua;
        font-size: 2rem;
        font-weight: 800;
    }
}

.contactus {
    padding: 1rem 0;
}

.contactus a {
    width: 100%;
    height: 100%;
    text-decoration-line: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    background-color: #0B192C;
    transition: 0.3s;
}

.resumebox a {
    width: 100%;
    height: 100%;
    text-decoration-line: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border: 2px solid #FCCD2A;
    border-radius: 10px;
    color: white;
    background-color: #0B192C;
    transition: 0.3s;
}

@media only screen and (max-width:768px) {
    .contactus a {
        padding: 0.3rem 1rem;
        font-size: 1rem;
    }

    .resumebox a {
        padding: 0.3rem 1rem;
        font-size: 1rem;
    }
}

.aboutme {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0 1rem 0;
    background-color: #0B192C;
}

.aboutme .boxes {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.aboutme h2 {
    padding: 0rem var(--leftrightpadding);
    color: #16f2b3;
    font-size: var(--headingsfontsize);
}

.aboutme .box1 {
    width: 60%;
    padding: 1rem var(--leftrightpadding);
}

.aboutme .box1 h2 {
    font-size: var(--headingsfontsize);
    padding: 0.5rem 0;
    color: #16f2b3;
}

.aboutme .box1 p {
    height: 100%;
    font-size: 1.5rem;
    color: white;
    font-weight: 200;
    line-height: 2.5rem;
}

.aboutme .box2 {
    width: 40%;
    padding: 1rem 0;
    padding: 1rem var(--leftrightpadding) 1rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.aboutme .box2 img {
    width: 80%;
    height: 60%;
    border-radius: 12px;
}

@media only screen and (max-width:768px) {
    .aboutme h2 {
        font-size: var(--headingsizesmalldisplays);
    }

    .aboutme .box1 p {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .aboutme .box1 {
        width: 100%;
    }

    .aboutme .box2 {
        width: 100%;
    }

    .aboutme .box2 img {
        height: 80%;
        width: 80%;
    }

    .aboutme .box2 {
        padding: var(--leftrightmargin);
    }
}



.aboutme .boxes {
    /* margin: 1.5rem 0; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aboutme .boxes h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: white;
}

/* .skillsbox {
    color: #16f2b3;
    background-color: #0B192C;
    width: 100%;
    padding: 0rem var(--leftrightpadding) 1rem;
    font-size: var(--headingsfontsize);
}

.skillsbox .skills {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.skillsbox .skills .boxes {
    border: 2px solid #3A6D8C;
    border-radius: 12px;
    transition: 0.1s linear;
}

.skillsbox .skills .boxes:hover {
    transform: scale(1.03);
}

.skillsbox .skills .boxes .boxheading {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 1rem 0;
}


.skillsbox .skills .boxes .tools {
    margin: 1rem;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.tool1,
.tool2,
.tool3,
.tool4 {
    border: 4px solid #3A6D8C;
    background-color: #295F98;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 100%;
    height: 50%;
}

.skillsbox .skills .boxes .tools  img{
    width: 100%;
    height: 100%;
} */